---
layout: default
title: Home
carousel:
  - image: /images/carousel/slide1.JPG
  - image: /images/carousel/slide2.JPG
  - image: /images/carousel/slide3.JPG
  - image: /images/carousel/slide4.JPG
  - image: /images/carousel/slide5.JPG
  - image: /images/carousel/slide6.JPG
  - image: /images/carousel/slide7.JPG
  - image: /images/carousel/slide8.JPG
  - image: /images/carousel/slide9.JPG
  - image: /images/carousel/slide10.JPG
---
<div class= "intro">
  <p> Greetings! This site contains information about my current research projects, teaching, and various course materials I've made freely available.
</div>
<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
